.modalDiv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-header {
  justify-content: space-between;
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
}

.logoCompany {
  width: 80px;
  height: 80px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editLogo {
  width: 120px;
  height: 120px;
  border: 1px solid whitesmoke;
  border-radius: 100%;
  padding: 10px;
}

.btnAdd {
  padding: 20px !important;
  font-size: 16px !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table td {
  vertical-align: middle !important;
}
