.wrapper {
  display: flex;
  align-items: center;
  min-height: 1000px;
  background-position: 'center';
  justify-content: center;
}

.formGroup {
  padding: 20px;
  width: 300px;
  background-color: rgba(0,0,0,0.3);
  color: aliceblue;
}

.btnSubmit {
  margin-top: 10px;
  font-family: 'Avenir';
  font-size: 16px !important;
  font-weight: bold !important;
  background-color: #fc4b30 !important;
  color: white !important;
  border: none !important;
}

.title {
  text-align: center;
  font-size: 16px;
}